#  <font color=red> Module_09_List</font>

# P9-3
## List &rArr; 有序(sequence)、可變(mutable)
>### P3-3<img src='./img/py_data_type.png'>

In [3]:
list1=['a', 'b', 'c', 'd']
print(list1)
list2='a b c d'.split() # 講義P5-13
print(list2)
list3 = ['bdse', 'aien', 2015, 2018]
print(list3)
list4 = [1, 2, 3, 4, 5 ]
print(list4)

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']
['bdse', 'aien', 2015, 2018]
[1, 2, 3, 4, 5]

----

# P9-4
# index
><img src=".\img\list.png"  style='height:250px; width:650px'>

In [1]:
names=['fraser', 'grace', 'john', 'jess', 'jack', 23.5, 2019]
print('id of names :            ', id(names))
print('names =                  ', names)
print('names[0] =               ', names[0])
print('names[0][0] =            ', names[0][0], '\n')

print('names[5] =               ', names[5])
print('names[-1] =              ', names[-1],'\n')

print('names[1:5] =             ', names[1:5])
print('names[1:6:2] =           ', (names[1:6:2]))

id of names :             1415905837256
names =                   ['fraser', 'grace', 'john', 'jess', 'jack', 23.5, 2019]
names[0] =                fraser
names[0][0] =             f

names[5] =                23.5
names[-1] =               2019

names[1:5] =              ['grace', 'john', 'jess', 'jack']
names[1:6:2] =            ['grace', 'jess', 23.5]

---

# P9-5

## List 是可變的資料結構
><img src='./img/list_mutable.png' style= height:450px>
## 比較 mutable & immutable 資料結構
>P3-10<img src='./img/py_reference.gif' style= height:450px>

In [6]:
names=['fraser', 'grace', 'john', 'jess', 'jack', 23.5, 2019]
print('id of names :            ', id(names))

names[2]='Kevin'
print("names[2]='Kevin' :       ", names) # 修改

names[-1:]=[2000, 23.5] # 一次改兩筆資料
print('names[-1:]=[2000, 23.5] :', names) #list 可增加直接擴大

print('id of names :            ', id(names))

id of names :             2207065870536
names[2]='Kevin' :        ['fraser', 'grace', 'Kevin', 'jess', 'jack', 23.5, 2019]
names[-1:]=[2000, 23.5] : ['fraser', 'grace', 'Kevin', 'jess', 'jack', 23.5, 2000, 23.5]
id of names :             2207065870536

## P4-9:
<img src='./img/is_equal.png' style='height:400px'>

In [23]:
li1=[1,2]
li2=li1.copy()
print('li2 id:', id(li2))
print('li1 id:', id(li1))
print('li2 == li1:', li2==li1)
print('li2 is li1:', li2 is li1) # 數值雖然相同, 但記憶體位置不同

li2 id: 2447612507848
li1 id: 2447614341960
li2 == li1: True
li2 is li1: False

---

# P9-6
## List裡的內容可以放入任何結構 &rArr; List裡面就可以放入多層次的資料
>![listNested](.\img\listNested.png)

In [36]:
x=['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j']
print('x[1] :      ', x[1])
print('x[1][1] :   ', x[1][1])
print('x[1][1][0] :', x[1][1][0])
print('x[3] :      ', x[3])

x[1] :       ['bb', ['ccc', 'ddd'], 'ee', 'ff']
x[1][1] :    ['ccc', 'ddd']
x[1][1][0] : ccc
x[3] :       ['hh', 'ii']

---

# P9-8

In [29]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [30]:
['Hi!'] * 4

['Hi!', 'Hi!', 'Hi!', 'Hi!']

In [31]:
30 in [10, 20, 30]

True

In [2]:
a = [10, 20, 30]
for x in a: 
    print (x, end = ' ')

10 20 30

In [38]:
lst=[11, 22, 33, 44]
print('id(lst) :                   ', id(lst), '\n')

lst[2:]=[333,444,555,666]  #list 可增加直接擴大
print('lst[2:] = :                 ', lst)
print('id(lst) :                   ', id(lst), '\n')

id(lst) :                    2447614184328

lst[2:] = :                  [11, 22, 333, 444, 555, 666]
id(lst) :                    2447614184328

---

# P9-12

In [9]:
lst=[20, 10, 30]

print('lst =                       ', lst)
print('len(lst) :                  ', len(lst))
print('max(lst) :                  ', max(lst))
print('min(lst) :                  ', min(lst))
print('sum(lst) :                  ', sum(lst))
print('sorted(lst):                ', sorted(lst))
print('sorted(lst, reverse=True) : ', sorted(lst, reverse=True))

lst =                        [20, 10, 30]
len(lst) :                   3
max(lst) :                   30
min(lst) :                   10
sum(lst) :                   60
sorted(lst):                 [10, 20, 30]
sorted(lst, reverse=True) :  [30, 20, 10]

In [1]:
list('abcd')

['a', 'b', 'c', 'd']

---

# P9-14

In [48]:
a = [4, 777, 444, 999, 11, 4]

print('id of a :                 ', id(a))

a.append('1')
print('a.append(1) :             ', a)

b = a.count(4)
print('a.count(4) :              ', b)

c = a.copy()
print('id of c :                 ', id(c))

a.clear()
print('a.clear() :               ', a)

id of a :                  2447614422600
a.append(1) :              [4, 777, 444, 999, 11, 4, '1']
a+[1] :                    [4, 777, 444, 999, 11, 4, '1', 1]
a.count(4) :               2
id of c :                  2447614422536
a.clear() :                []

---

# P9-15

In [14]:
a = [4, 777, 444, 999, 11, 45, 999, 66, 88, 73]
b = ['aa', 'bb', 'cc']
a.extend(b)
print('a.extend(b) :             ', a)

print('a.index(999) :            ', a.index(999))

a.insert(5, 555)
print('a.insert(5, 555) :        ', a)

a.pop()                                       #刪除
print('a.pop() :                 ', a)        

a.pop(4)                                      #刪除
print('a.pop(4) :                ', a)

a.extend(b) :              [4, 777, 444, 999, 11, 45, 999, 66, 88, 73, 'aa', 'bb', 'cc']
a.index(999) :             3
a.insert(5, 555) :         [4, 777, 444, 999, 11, 555, 45, 999, 66, 88, 73, 'aa', 'bb', 'cc']
a.pop() :                  [4, 777, 444, 999, 11, 555, 45, 999, 66, 88, 73, 'aa', 'bb']
a.pop(4) :                 [4, 777, 444, 999, 555, 45, 999, 66, 88, 73, 'aa', 'bb']

In [27]:
a = [4, 777, 444, 999, 11, 45, 999, 66, 88, 73]

b = a.pop()
print(b)
print(a)

c = a.pop()
print(c)
print(a)

73
[4, 777, 444, 999, 11, 45, 999, 66, 88]
88
[4, 777, 444, 999, 11, 45, 999, 66]

In [26]:
x=[1,2]
y=[3,4]
x[len(x):]=y
x

[1, 2, 3, 4]

---

# P9-16

In [9]:
a = [4, 777, 444, 999, 11, 45, 66, 88, 73]

a.remove(11)                                #刪除
print('a.remove(11) :          ', a, '\n')

a.reverse()
print('a.reverse :               ', a)

a.remove(11) :           [4, 777, 444, 999, 45, 66, 88, 73]

a.reverse :                [73, 88, 66, 45, 999, 444, 777, 4]

In [54]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)  # length
b

['He', 'saw', 'six', 'small', 'foxes']

In [58]:
b.sort(key=max)
b

['He', 'small', 'saw', 'six', 'foxes']

---

# &spades; 補充
<img src='./img/list_reference.png' style='height:400px'>

In [5]:
names=['fraser', 'grace', 'john', 'jess', 'jack', 23.5, 2019]
names2 = names
print(id(names),id(names2))

names2[2]='Kevin' # 更改names2，但是因為names2與names是參考到同一個記憶體位置，所以names會一起被修改。
print(names)

2029010826568 2029010826568
['fraser', 'grace', 'Kevin', 'jess', 'jack', 23.5, 2019]