# P10-3
## Tupple &rArr; 有序(sequence)、不可變(immutable)
>### P3-3<img src='./img/py_data_type.png'>

In [1]:
tup1 = ('bdse', 'aien', 2015, 2018)
tup2 = (1, 2, 3, 4, 5 )
tup3 = "a", "b", "c", "d"
tup4 = () # empty tuple
tup5 = (50,) # single value tuple
print(tup1, tup2, tup3, tup4, tup5)

('bdse', 'aien', 2015, 2018) (1, 2, 3, 4, 5) ('a', 'b', 'c', 'd') () (50,)

In [2]:
t1=(50) # not tuple becasue of no ','
t2=(50,) # ㇐個元素的 tuple 必須要多加㇐個逗點結尾
print('type(t1) :', type(t1))
print('type(t2) :', type(t2))

type(t1) : <class 'int'>
type(t2) : <class 'tuple'>

In [9]:
tup6 = 50,    # 此寫法是Tuple，只是省略掉小括號()
type(tup6)

tuple

---

# P10-4

In [8]:
tup1 = ('aiot', 'python', 23.5, 2019)
tup2 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

print(tup1[0])
print(tup2[1:5])
print(tup2[1:10:2])

aiot
(2, 3, 4, 5)
(2, 4, 6, 8, 10)

---

# P10-5

### Tuple 內容是不可改變的(immutable)，亦即無法更新或刪除項目

In [4]:
t3=(0, 2, 4, 6, 8)
print(t3)

t3[1] = 5         # error,  immutable
t3.remove(['2'])  # error, not removable, pop

(0, 2, 4, 6, 8)

TypeError: 'tuple' object does not support item assignment

### 可以利用已存在的 Tuple 來產生新的 Tuple

In [11]:
tup = 4, 5, 6; tup1 = (4, 5, 6)
print(tup+tup1) # 與串列結合([1,2]+[1,2]=>[1,2,1,2])相似
print(tup+tup1+(8,))

(4, 5, 6, 4, 5, 6)
(4, 5, 6, 4, 5, 6, 8)

---

# P10-6

## Tuple裡的內容可以放入任何結構 &rArr; Tuple裡面就可以放入多層次的資料

In [13]:
tup = (33, 'python', [11, 12, 13], 77)
tup[2]

[11, 12, 13]

In [13]:
nested_tup = (4, 5, 6), (7, 8)
print(nested_tup)

((4, 5, 6), (7, 8))

## 改動與否，視最後改動的對象為準。
><img src='./img/tuple_hierarchy.png' style='height:350px'>

In [8]:
tup = ('foo', [1, 2], True)

# tup[2] = False
tup[1].append(3)  # list in Tuple OK to change or append inside of list
print(tup)
tup[1][0]=20
print(tup)
tup[0][0] = 'F'

('foo', [1, 2, 3], True)
('foo', [20, 2, 3], True)

TypeError: 'str' object does not support item assignment

---

# P10-8

In [17]:
('Hi',)*4

('Hi', 'Hi', 'Hi', 'Hi')

In [18]:
30 in (10,20,30)

True

In [35]:
seq = (1, 2, 3, 4, 5, 6, 7, 8, 9)
for i in seq:
    print(i)

1
2
3
4
5
6
7
8
9

---

# P10-12

In [4]:
nested_tup = (4, 5, 6), (7, 8)
print(len(nested_tup))

2

In [21]:
tup = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(max(tup))
print(min(tup))
print(sum(tup))
print(sorted(tup))
print(sorted(tup,reverse = True))

10
1
55
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [26]:
tup2 = ('a','ab','ac','abc','b')
print(sorted(tup2))
print(sorted(tup2,reverse = True))

['a', 'ab', 'abc', 'ac', 'b']
['b', 'ac', 'abc', 'ab', 'a']

In [3]:
t1 = tuple(range(0,10,2)) # lazy evaluation
t2 = tuple([1,2,3,4])
t3 = tuple('abcde')

print(t1)
print(t2)
print(t3)

(0, 2, 4, 6, 8)
(1, 2, 3, 4)
('a', 'b', 'c', 'd', 'e')

In [28]:
a = (1, 2, 2, 2, 3, 4, 2)
print(a.count(2))
print(a.index(2))

4
1

### 在實務上，Tuple的速度比List快，在處理大數據時，使用Tuple會比較有效率。

In [22]:
%timeit list(range(10))
%timeit tuple(range(10))

1.04 µs ± 7.12 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)
975 ns ± 6.1 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

---

# P10-16 list comprehensions

In [44]:
S = []
for x in range(10) :
    x = x**2
    S.append(x)
S

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [45]:
S = [x**2 for x in range(10)]
V = [2**x for x in range(13)]
M = [x for x in S if x % 2 == 0]
print(S)
print(V)
print(M)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]
[0, 4, 16, 36, 64]

In [46]:
%%timeit
# V = (1,2,4,8,...2**10)
V=[]
for n in range(11):
    V +=[2**n]
V

9.36 µs ± 396 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [47]:
%%timeit
# V = (1,2,4,8,...2**10)
V=[]
V = [2**n for n in range(11)]
V

8.27 µs ± 90.2 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [48]:
# for loop start
#公元年分除以4可整除但公元年分除以100不可整除」
#或「公元年分除以400可整除」
tuple_year=[]
for i in range(1000, 2020):
    if( ( i%4==0 and  i%100!=0) or (i%400==0)  ):
        tuple_year.append(i)
print(tuple_year)

[1004, 1008, 1012, 1016, 1020, 1024, 1028, 1032, 1036, 1040, 1044, 1048, 1052, 1056, 1060, 1064, 1068, 1072, 1076, 1080, 1084, 1088, 1092, 1096, 1104, 1108, 1112, 1116, 1120, 1124, 1128, 1132, 1136, 1140, 1144, 1148, 1152, 1156, 1160, 1164, 1168, 1172, 1176, 1180, 1184, 1188, 1192, 1196, 1200, 1204, 1208, 1212, 1216, 1220, 1224, 1228, 1232, 1236, 1240, 1244, 1248, 1252, 1256, 1260, 1264, 1268, 1272, 1276, 1280, 1284, 1288, 1292, 1296, 1304, 1308, 1312, 1316, 1320, 1324, 1328, 1332, 1336, 1340, 1344, 1348, 1352, 1356, 1360, 1364, 1368, 1372, 1376, 1380, 1384, 1388, 1392, 1396, 1404, 1408, 1412, 1416, 1420, 1424, 1428, 1432, 1436, 1440, 1444, 1448, 1452, 1456, 1460, 1464, 1468, 1472, 1476, 1480, 1484, 1488, 1492, 1496, 1504, 1508, 1512, 1516, 1520, 1524, 1528, 1532, 1536, 1540, 1544, 1548, 1552, 1556, 1560, 1564, 1568, 1572, 1576, 1580, 1584, 1588, 1592, 1596, 1600, 1604, 1608, 1612, 1616, 1620, 1624, 1628, 1632, 1636, 1640, 1644, 1648, 1652, 1656, 1660, 1664, 1668, 1672, 1676, 1680, 1684, 1688, 1692, 1696, 1704, 1708, 1712, 1716, 1720, 1724, 1728, 1732, 1736, 1740, 1744, 1748, 1752, 1756, 1760, 1764, 1768, 1772, 1776, 1780, 1784, 1788, 1792, 1796, 1804, 1808, 1812, 1816, 1820, 1824, 1828, 1832, 1836, 1840, 1844, 1848, 1852, 1856, 1860, 1864, 1868, 1872, 1876, 1880, 1884, 1888, 1892, 1896, 1904, 1908, 1912, 1916, 1920, 1924, 1928, 1932, 1936, 1940, 1944, 1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [49]:
tuple_year1 = [i for i in range(1000,2020) if(( i%4==0 and  i%100!=0) or (i%400==0)) ]

print(tuple_year1)

[1004, 1008, 1012, 1016, 1020, 1024, 1028, 1032, 1036, 1040, 1044, 1048, 1052, 1056, 1060, 1064, 1068, 1072, 1076, 1080, 1084, 1088, 1092, 1096, 1104, 1108, 1112, 1116, 1120, 1124, 1128, 1132, 1136, 1140, 1144, 1148, 1152, 1156, 1160, 1164, 1168, 1172, 1176, 1180, 1184, 1188, 1192, 1196, 1200, 1204, 1208, 1212, 1216, 1220, 1224, 1228, 1232, 1236, 1240, 1244, 1248, 1252, 1256, 1260, 1264, 1268, 1272, 1276, 1280, 1284, 1288, 1292, 1296, 1304, 1308, 1312, 1316, 1320, 1324, 1328, 1332, 1336, 1340, 1344, 1348, 1352, 1356, 1360, 1364, 1368, 1372, 1376, 1380, 1384, 1388, 1392, 1396, 1404, 1408, 1412, 1416, 1420, 1424, 1428, 1432, 1436, 1440, 1444, 1448, 1452, 1456, 1460, 1464, 1468, 1472, 1476, 1480, 1484, 1488, 1492, 1496, 1504, 1508, 1512, 1516, 1520, 1524, 1528, 1532, 1536, 1540, 1544, 1548, 1552, 1556, 1560, 1564, 1568, 1572, 1576, 1580, 1584, 1588, 1592, 1596, 1600, 1604, 1608, 1612, 1616, 1620, 1624, 1628, 1632, 1636, 1640, 1644, 1648, 1652, 1656, 1660, 1664, 1668, 1672, 1676, 1680, 1684, 1688, 1692, 1696, 1704, 1708, 1712, 1716, 1720, 1724, 1728, 1732, 1736, 1740, 1744, 1748, 1752, 1756, 1760, 1764, 1768, 1772, 1776, 1780, 1784, 1788, 1792, 1796, 1804, 1808, 1812, 1816, 1820, 1824, 1828, 1832, 1836, 1840, 1844, 1848, 1852, 1856, 1860, 1864, 1868, 1872, 1876, 1880, 1884, 1888, 1892, 1896, 1904, 1908, 1912, 1916, 1920, 1924, 1928, 1932, 1936, 1940, 1944, 1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

---

# &spades; 補充 
## Unpacking tuples

In [30]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [33]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [34]:
tup = 4, 5, (6, 7)
a, b, c, d = tup
d

ValueError: not enough values to unpack (expected 4, got 3)

### P2-5 的變數建立方式就是利用unpacking tuple

In [6]:
a, b, c = 1, 2., "John"
print(a)
print(b)
print(c)

1
2.0
John

In [36]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9